$colour-blue-light: #0fabbe;
$colour-blue-medium: #000020;
$colour-blue-dark: #000012;

$colour-purple-light: #820fdf;
$colour-purple-medium: #3e1a57;
$colour-purple-dark: #000012;

$white-font: rgba(255, 255, 255, 0.87)