@import '../styles/shared/colours';
@import '../styles/shared/base';
@import '../styles/shared/keyframes';




.exp__list {
    list-style-type: none;
}

.exp__list__item__flex {
    display: flex;
    flex-direction: row;
}

.exp__list__item__title {
    width: 12rem;
}

.exp__list__ratingbox {
    display: flex;
    flex-direction: row;
}

.exp__list__ratingbox__filled, .exp__list__ratingbox__unfilled {
    margin: auto 0.25rem;
    height: 0.75rem;
    width: 0.75rem;
    border: #000 solid 0.25rem;
}

.exp__list__ratingbox__filled {
    background-color: #a39274;
}

.exp__list__ratingbox__unfilled {
    background-color: transparent;
}

.exp__item {
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    animation: fade-in linear 2s forwards;
    opacity: 0;
}


@for $i from 1 through 3 {
    .exp__list .exp__item:nth-child(#{$i}n) {
        animation-delay: #{($i) * 1}s;
    }
}

.exp__list__header {
    text-transform: uppercase;
}

.exp__title__container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-top: 4rem;
}

.exp__img {
    height: 72px;
    width: 72px;
    min-height: 72px;
    min-width: 72px;

}

.exp__img__container {
    height: 70px;
    width: 70px;
    min-width: 70px;
    min-height: 70px;
    overflow: hidden;
    border-radius: 4rem;
    position: relative;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;      
}


.exp__date {
   opacity: 0.7;
}

.layer {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}